[submodule "pico_freertos/FreeRTOS-Kernel"]
	path = pico_freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "pico_audio5/FreeRTOS-Kernel"]
	path = pico_audio5/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
[submodule "picow_audio4/FreeRTOS-Kernel"]
	path = picow_audio4/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel.git
